
footer {
	font-family: Helvetica,Arial,Verdana,sans-serif;
	overflow: hidden; // hide x scrollbar if .row overflows
	font-size: 12px;
	color: #888;
	border-top: 1px solid #ddd;
	text-align: center;
	background-color: #ddd;
	margin-top: 10px;
	margin-bottom: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-left:	-@main-container-xs-padding;
	margin-right:	-@main-container-xs-padding;
	padding-left:	 @main-container-xs-padding;
	padding-right:	 @main-container-xs-padding;
	@media (min-width: @screen-md-min) {
		margin-left:	-@main-container-md-padding;
		margin-right:	-@main-container-md-padding;
		padding-left:	 @main-container-md-padding;
		padding-right:	 @main-container-md-padding;
	}

	a {
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		&:hover {
			color: #66aa33;
			text-decoration: none;
		}
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
		li {
			display: inline;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	ul.left {
		@media (min-width: @screen-sm-min) {
			text-align: left;
			margin-left: -5px; // negate li padding-left
		}
	}
	ul.right {
		@media (min-width: @screen-sm-min) {
			text-align: right;
			margin-right: -5px; // negate li padding-right
		}
	}
}