
header.trailerpage {
	margin-right:	-@main-container-xs-padding;
	margin-left:	-@main-container-xs-padding;
	@media (min-width: @screen-md-min) {
		margin-right:	-@main-container-md-padding;
		margin-left:	-@main-container-md-padding;
	}

	.trailerbg {
		background-color: #3c3c3c;
		background: url(../img/trailerpage-gradient2.png) repeat-x top left #3c3c3c;
		padding-top: @mainnav-height;
		padding-left: 0; // let video take full screen on mobile
		padding-right: 0;
		@media (min-width: @screen-md-min) {
			padding-left: @main-container-md-padding + 100;
			padding-right: @main-container-md-padding + 100;
		}
	}
	h1 {
		//font-family: ;
		font-size: 27px;
		color: #aaa;
		text-shadow: 0 1px rgba(0, 0, 0, 0.75);
	}
	#trailerinfo-description {
		font-family: Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
		color: #aaa;
	}
}
// make video responsive
#trailerwrapper {
	position: relative;
	padding-bottom: 56.25%; // apropriate height for 100% width in 16:9 aspect ratio
	padding-top: 25px;
	height: 0;
	border: 1px #2e2e2e solid;
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.6);
}
#trailerwrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#trailerinfo-tabs {
	list-style-type: none;
	padding: 0;

	li {
		display: inline;
		a {
			font-family: 'Open Sans Condensed', sans-serif;
			color: #aaa;
		}
	}
}
#trailerinfo-tabs-twitter {
	iframe {
		position: relative;
		top: 5px;
	}
}
#trailerinfo-tabs-facebook {
	.fb-like {
		z-index: 500;
	}
}