
header.regularpage {
	margin-top: @mainnav-height;
	height: 59px;
	border-bottom: 1px #fff solid;
	background-color: rgba(225, 225, 225, 0.95);
	margin-top: @mainnav-height;
	margin-right:	-@main-container-xs-padding;
	margin-left:	-@main-container-xs-padding;
	padding-left:	 @main-container-xs-padding;
	padding-right:	 @main-container-xs-padding;
	@media (min-width: @screen-md-min) {
		margin-right:	-@main-container-md-padding;
		margin-left:	-@main-container-md-padding;
		padding-left:	 @main-container-md-padding;
		padding-right:	 @main-container-md-padding;
	}

	h1 {
		font-family: 'Open Sans Condensed', sans-serif;
		//font-family: 'Abel', sans-serif;
		font-size: 30px;
		color: #666;
		text-transform: uppercase;
		padding-top: 15px;
	}
}