
header.frontpage {
	height: 250px;
	background: #111;
	position: relative;
	margin-top: @mainnav-height; // Push header below navbar on small screens
	//negate wrapper padding
	margin-right: -@main-container-xs-padding;
	margin-left: -@main-container-xs-padding;
	@media (min-width: @screen-sm-min) {
		height: 250px + @mainnav-height;
		margin-top: 0;
	}
	@media (min-width: @screen-md-min) {
		height: 600px;
		margin-top: 0;
		margin-right: -@main-container-md-padding;
		margin-left: -@main-container-md-padding;
	}

	.swiper-container {
		height: 100%;
	}
	.content-slide {
		position: relative;
		height: 100%;
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: cover;

		.background-link {
			display: block;
			height: 100%;
			width: 100%;
		}
	}
	.arrow-left, .arrow-right {
		background: url(../img/arrows.png) no-repeat;
		position: absolute;
		top: 50%;
		margin-top: -15px;
		width: 17px;
		height: 30px;
		z-index: 30;
	}
	.arrow-left {
		background-position: left top;
		left: 10px;
	}
	.arrow-right {
		background-position: left bottom;
		right: 10px;
	}
	.pagination {
		position: absolute;
		left: 0;
		text-align: center;
		bottom: 5px;
		width: 100%;
		z-index: 10;
	}
	.swiper-pagination-switch {
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 10px;
		background: #999;
		box-shadow: 0px 1px 2px #555 inset;
		margin: 0 3px;
		cursor: pointer;
	}
	.swiper-active-switch {
		background: #fff;
	}
}