
@main-container-xs-padding: 10px;
//@main-container-sm-padding: 100px;
@main-container-md-padding: 100px;
//@main-container-lg-padding: 100px;

body {
	background-color: #e2e2e2;
}

#main-container {
	background-color: #f1f1f1;
	box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.25);
	padding: 0 @main-container-xs-padding;
	@media (min-width: @screen-md-min) {
		padding: 0 @main-container-md-padding;
	}
	@media (min-width: @screen-xl-min) {
		width: @screen-xl-min; // main container will go from fluid to fixed width for XL screens
	}
}