
.movieposterrow {
	position: relative;

	.arrow-left, .arrow-right {
		display: none; // No arrows on mobile
		position: absolute;
		top: 50%;
		width: 64px;
		height: 64px;
		margin-top: -32px;
		background-color: #999;
		background-color: rgba(153, 153, 153, 0.5);
		z-index: 2;
		@media (min-width: @screen-sm-min) {
			display: block; // Show arrows for tablets and up
		}

		&:hover {
			background-color: rgba(153, 153, 153, 0.6);
		}
		span {
			// Span with arrow background
			display: block;
			position: absolute;
			top: 50%;
			margin-top: -15px;
			width: 17px;
			height: 30px;
			background-image: url(../img/arrows.png);
			background-repeat: no-repeat;
		}
	}
	.arrow-left {
		left: 0px;
		margin-left: -@main-container-xs-padding;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		@media (min-width: @screen-md-min) {
			margin-left: -@main-container-md-padding;
		}

		span {
			background-position: left top;
			right: 15px;
		}
	}
	.arrow-right {
		right: 0px;
		margin-right: -@main-container-xs-padding;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		@media (min-width: @screen-md-min) {
			margin-right: -@main-container-md-padding;
		}

		span {
			background-position: left bottom;
			left: 15px;
		}
	}
	h3 a {
		//font-family: 'Maven Pro', sans-serif;
		font-family: 'Open Sans Condensed', sans-serif;
		//font-family: 'Abel', sans-serif;
		font-size: 30px;
		color: #aaa;
		text-transform: uppercase;
		text-decoration: none;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
	}
	.swiper-container {
		height: 322px;
		.movieposter {
			margin-right: 20px;
		}
	}
}