
@movieposter-width:	220px;
@movieposter-height:	318px;
@movieposter-playicon-size: 80px;

.movieposter {
	width: @movieposter-width;
	height: @movieposter-height;
	position: relative;
	border: 2px solid #fff;
	overflow: hidden;
	.posterlink {
		display: block;
		width: @movieposter-width;
		height: @movieposter-height;
		z-index: 10;
	}
	.playicon {
		width: @movieposter-playicon-size;
		height: @movieposter-playicon-size;
		line-height: @movieposter-playicon-size; // Center the play icon
		border-radius: @movieposter-playicon-size / 2; // Make icon a circle
		font-size: 30px;
		display: none;
		padding: 0;
		text-align: center;
		background: rgba(0,0,0,0.6);
		color: #fff;
		cursor: pointer;
		text-decoration: none;
		z-index: 20;
		position: absolute;
		top: ((@movieposter-height / 2) - (@movieposter-playicon-size / 2));
		left: ((@movieposter-width / 2) - (@movieposter-playicon-size / 2));
		//margin-left: auto;
		//margin-right: auto;
		//margin-top: -((@movieposter-height / 2) + (@movieposter-playicon-size / 2));
	}
	&.show-playicon {
		.playicon {
			// show play icon in the middle when show class is toggled on .movieposter via js
			display: block;
		}
	}
}